@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;1,300&family=Roboto+Mono:wght@300&display=swap');

:root {
    --primary-color:  rgb(227, 247, 243);
  }

.mediaLinks-list li {
  margin-bottom: 1em;
  margin-left: 2em;
  position: relative;
  color: #007AF3;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}


.wrapper.mobile-navbar {
    display: none;
}

/* Main Content*/
.wrapper.right-content {
    grid-area: main;
}

/* Sidebar*/
.wrapper.sidebar {
    grid-area: sidebar;
    background: var(--primary-color);
    position: fixed;
    height: 100%;
    width: 250px;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    font-weight: normal;
}

.wrapper.sidebar img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wrapper.sidebar h1 {
    margin-top: 25px;
    text-align: center;
}

.wrapper.sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
}

.wrapper.sidebar a:hover {
    font-weight: bold;
}

.wrapper.sidebar a {
    text-decoration: none;
    font-size: 0.9em;
}

.wrapper.location a{
    background:url('../images/point.png') no-repeat;
    background-position:0px 0px;
    background-size: 18px;
    padding-left: 30px;
    padding-bottom: 10px;
}

.wrapper.mail a{
    background:url('../images/mail.png') no-repeat;
    background-position:0px 0px;
    background-size: 18px;
    padding-left: 30px;
    padding-bottom: 10px;
}

.wrapper.linkedin a{
    background:url('../images/linkedin.svg') no-repeat;
    background-position:0px 0px;
    background-size: 18px;
    padding-left: 30px;
    padding-bottom: 10px;
}

.wrapper.github a{
    background:url('../images/github.svg') no-repeat;
    background-position:0px 0px;
    background-size: 18px;
    padding-left: 30px;
    padding-bottom: 10px;
}

/* Home Screen*/
.wrapper.container {
    display: grid;
    grid-template-columns: 250px 5px auto;
    grid-template-rows: auto;
    grid-template-areas: 
        "sidebar . main"
}

/* Big Screen Navbar */
.wrapper.navbar li {
    float: right;
    font-size: 1.3em;
}

.wrapper.navbar li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.wrapper.navbar li a:hover {
    background-color: rgb(255, 255, 255);
}

.wrapper.navbar li a.current {
    font-weight: bold;
}

/* List Items*/
.item-list {
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
}

.item-list li {
    margin-top: 40px;
}

.item-list li h1 {
    font-size: 2em;
}

.item-list li a {
    text-decoration: none;
}



footer {
    margin-top: 20px;
    margin-bottom: 10px;
}

footer p {
    margin-top: 5px;
    text-align: center;
}

.wrapper.section-breaker div {
    background-color: transparent;
    border: 0;
    border-top: 1px solid rgb(200, 200, 200);
    display: block;
    height: 0;
    margin: 4rem auto 1rem;
    text-align: center;
    width: 50%;
}

/* Post Screen*/ 

/* Header*/ 

.wrapper.wrapper.header-section-breaker div {
    background-color: transparent;
    border: 0;
    border-top: 1px solid rgb(200, 200, 200);
    display: block;
    height: 0;
    margin: 1rem auto 1rem;
    text-align: center;
    width: 50%;
}

.wrapper.post-header {
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
}

/* Header Title*/ 
.wrapper.post-header h1 {
    font-size: 2em;
    margin-bottom: 5px;
    text-decoration: none;
}

.wrapper.post-header h1 a {
        text-decoration: none;
}

/* Header Elements*/ 

.post-header-links {
    margin-top: 15px;
    margin-bottom: 15px;
}

.post-header-links li {
    margin-bottom: 10px;
}

.reading-time {
    background:url('../images/clock.svg') no-repeat;
    background-position:0px 3px;
    background-size: 18px;
    padding-left: 30px;
    padding-bottom: 10px;
}

.no-link-label {
    background:url('../images/link.png') no-repeat;
    background-position:0px 3px;
    background-size: 18px;
    padding-left: 30px;
    padding-bottom: 10px;
}

.linked-label {
    background:url('../images/link.png') no-repeat;
    background-position:0px 3px;
    background-size: 18px;
    padding-left: 30px;
    padding-bottom: 10px;
}

/* Article*/ 

.content {
    margin-top: 15px;
    margin-left: 40px;
    margin-right: 40px;
    word-break: break-word;
    white-space: pre-line;
    overflow-wrap: break-word;
    -ms-word-break: break-word;
    word-break: break-word;
    max-width: 100%;
    white-space: break-spaces;
}

.content p {
    margin-top: 20px;
    margin-bottom: 15px;
}

.content h3 {
    margin-top: 25px;
}

.content img {
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Post Signature */ 

.wrapper.post-signature {
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
}

/* Code-Splash CSS Colors*/


/*
pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    font-family: 'Roboto Mono', monospace; 
    font-size: 13px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    padding: 1em 1.5em;
    display: inline-table;
    width: 100px; 

    margin: 4px, 4px;
    padding: 4px;
    background-color: #08c708;
    width: 300px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

}

code {
    font-family: 'Roboto Mono', monospace;
    font-size: 13px;
    padding: 2px;
}
*/

pre {
    margin-bottom: 1.5em;
    background-color: rgba(34, 37, 41, 1);
    padding: 16px 0;
    border-radius: 8px;
    width: 60vw;
    overflow-x: scroll; /* Optionally you can also use overflow: scroll; */
}

pre code {
    font-family: 'Roboto Mono', monospace; 
    display: block;
    padding: 0 20px;
    color:  rgba(215, 215, 215, 1);
    line-height: 1.4em;
    font-size: 0.90em;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
}

/* Loose Code in Article */ 
code {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    padding: 2px;
}

/*
pre code {
    padding: 0 20px;
    color: #a9bcbc;
    line-height: 1.4em;
    font-size: 0.95em;
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: auto;
    font-family: 'Roboto Mono', monospace; 
    overflow-y: hidden;
}
*/

pre code {
    font-family: 'Roboto Mono', monospace; 
}

pre code .keyword {
    color: #e73289;
    font-family: 'Roboto Mono', monospace; 
}

pre code .type {
    color: #8281ca;
    font-family: 'Roboto Mono', monospace; 
}

pre code .call {
    color: #348fe5;
    font-family: 'Roboto Mono', monospace; 
}

pre code .property {
    color: #21ab9d;
    font-family: 'Roboto Mono', monospace; 
}

pre code .number {
    color: #db6f57;
    font-family: 'Roboto Mono', monospace; 
}

pre code .string {
    color: #fa641e;
    font-family: 'Roboto Mono', monospace; 
}

pre code .comment {
    color: #6b8a94;
    font-family: 'Roboto Mono', monospace; 
}

pre code .dotAccess {
    color: #92b300;
    font-family: 'Roboto Mono', monospace; 
}

pre code .preprocessing {
    color: #b68a00;
    font-family: 'Roboto Mono', monospace; 
}

/* ABOUT */

.wrapper.about-page-content {
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
}

.wrapper.presentation p {
    margin-top: 10px;
    margin-bottom: 20px;
}

.experiences-list {
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}

.education-list {
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}

.experience-item {
    margin-bottom: 1.2em;
    display: grid;
    grid-template-columns: 50px 7px auto;
    grid-template-rows: 25px 25px auto;
    grid-template-areas: 
        "logo . role"    
        "logo . company"
        "description description description"
}

.experience-item img {
    grid-area: logo;
    width: 50px;
    height: 50px;
    border-radius: 8px;
}

.experience-item h3 {
    grid-area: role;
    font-size: 0.97em;
}

.experience-item h4 {
    grid-area: company;
    font-size: 0.85em;
}

.experience-description {
    margin-top: 10px;
    margin-bottom: 10px;
    grid-area: description;
    font-size: 0.90em;
}

.about-avatar {
    display: none;
}

@media screen and (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .wrapper.navbar {
        display: none;
    }

    .wrapper.container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
            "mobile-navbar"    
            "main"
    }
    /* Mobile Navbar*/

    .wrapper.mobile-navbar {
        background: var(--primary-color);
        grid-area: mobile-navbar;
        position:relative;
        display: grid;
        grid-template-columns: auto 40px;
        grid-template-rows: 50px;
        grid-template-areas: 
            "title menu"  
    }
    
    .wrapper.mobile-navbar .mediaLinks-list{
        height: 30px;
    }

    .wrapper.mobile-navbar img {
        cursor: pointer;
        grid-area: menu;
        width: 25px;
        height: 25px; 
        margin: auto;
        position:absolute;
        top: 0; bottom: 0; left: 0; right: 20px;
    }

    .wrapper.wrapper.mobile-navbar li {
        float: right;
        font-size: 1em;
        top: 14px; bottom: 0; left: 15px; right: 3px;
    }
    .wrapper.mobile-navbar li a {
        display: block;
        color: rgb(0, 0, 0);
        text-align: center;
        text-decoration: none;
    }

    .wrapper.mobile-navbar li a.current {
        font-weight: bold;
    }

    .wrapper.mobile-navbar h1 {
        font-size: 1.3em;
        grid-area: title;
        position:absolute;
        top: 0; bottom: 0; left: 15px; right: 0;
        margin: auto;
        height: 30px;
    }

    .wrapper.dropdown-menu {
        border-top: 1px solid rgb(90, 90, 90);
        background: var(--primary-color);
        grid-area: dropdown;
        display: none;
    }

    .wrapper.dropdown-menu ul {
        margin-top: 20px;
        text-align: right;
        padding-right: 20px;
    }

    .wrapper.dropdown-menu li a {
        text-decoration: none;
        color: rgb(0, 0, 0);
    }

    #checkbox {
        display: none;
     }

     #checkbox:checked ~ .wrapper.dropdown-menu {
        display: grid;
        transition: all 0.5s;
    }

    .item-list {
        margin-top: 30px;
    }

    /* CODE IN ARTICLE*/ 

    pre {
        margin-bottom: 1.5em;
        background-color: rgba(34, 37, 41, 1);
        padding: 16px 0;
        border-radius: 8px;
        width: 85vw;
        overflow-x: scroll; /* Optionally you can also use overflow: scroll; */
    }

    /* ABOUT */

    .about-avatar {
        width: 200px;
        height: 200px;
        border-radius: 8px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}